.player-hand {
    display: table;
    width: 100%;
    max-width: 60%;
    margin: 0 auto;


}
.player-hand .item {
    display:table-cell;
    width:10%;
    height:100px;
    background-size:cover;
    background-repeat:no-repeat;
}