<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" th:href="@{/app.css}" />
    <title>Player2</title>
</head>
<body>
<div>
    <h1> Player 2: Cameron </h1>
    <div class="discard-pile">
        <!-- display draw pile -->
        <a th:href="'/' + ${nextPlayerTurn} + '/98'"><img class="draw" th:src="'/cards/AllCardsFolder/' + '55.png'" alt="draw pile"/></a>
        <!-- display discard pile -->
        <img class="draw" th:src="@{'/cards/AllCardsFolder/' + ${topDiscardCard.cardID} + '.png'}" alt="draw pile"/>
    </div>
    <div class="player-hand">
        <div class ="row">
            <!-- loops through to create 7 cards -->
            <div class="item" th:each="displayPlayerHand: ${player2Hand}">
            <div class ="column">

                    <a th:href="'/' + ${nextPlayerTurn} + '/' + ${displayPlayerHand.cardID}">
                        <img th:src="@{'/cards/AllCardsFolder/' + ${displayPlayerHand.cardID} + '.png'}"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div th:hidden="${noWinner}">
        <a href="/winner">
            <input type="button" value="There's a winner!"></a>
    </div>
</div>
</body>
</html>