<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" th:href="@{/app.css}" />
    <title>RULES</title>
    <div class="navbar-fixed">
        <nav>
            <div class="container">
                <h1>UNO RULES</h1>
                <ul>
                    <li><a th:href="@{/}">Home</a></li>
                    <li class="active"><a th:href="@{/rules}">Rules</a></li>
                </ul>
            </div>
        </nav>
    </div>
</head>
<body>
<img class="logo" th:src="'/cards/' + 'Uno-rules.png'" alt="Uno rules"/>

</body>
</html>